/* Flickity*/
.flickity-enabled {position: relative;}
.flickity-enabled:focus { outline: none; }
.flickity-viewport {overflow: hidden;position: relative;cursor: -webkit-grab;cursor: grab;}
.flickity-viewport.is-pointer-down {cursor: -webkit-grabbing;cursor: grabbing;}
.flickity-slider {position: absolute;width: 100%;}
/* ---- previous/next buttons ---- */
.flickity-prev-next-button {position: absolute;top: 50%;width: 1.25rem;height: 1.25rem;border: none;border-radius: 50%;background: white;background: hsla(0, 0%, 100%, 0.75);cursor: pointer;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);}
.flickity-prev-next-button.previous { left: 0.625rem; }
.flickity-prev-next-button.next { right: 0.625rem; }
.flickity-prev-next-button:disabled {opacity: 0.3;cursor: auto;}
.flickity-prev-next-button svg {position: absolute;left: 25%;top: 25%;width: 50%;height: 50%;}
.flickity-prev-next-button .arrow {fill: #333;}
/* color & size if no SVG - IE8 and Android 2.3 */
.flickity-prev-next-button.no-svg {color: #333;font-size: 1.625rem;}
/* ---- page dots ---- */
.flickity-page-dots {position: absolute;width: 100%;bottom: 0.625rem;padding: 0;margin: 0;list-style: none;text-align: center;line-height: 1;}
.flickity-page-dots .dot {display: inline-block;width: 0.5rem;height: 0.5rem;margin: 0 0.5rem;background: #333;border-radius: 50%;opacity: 0.25;cursor: pointer;}
.flickity-page-dots .dot.is-selected { opacity: 1; }
/* hero-gallery*/
.hero-gallery__cell {width: 100%;height: auto;}
.hero-gallery__cell img{width: 100%;height: auto;}